<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="styleSheet">
  <title>タスク追加画面</title>
</head>
<body>


<!-- エラーメッセージの表示 -->
<div class="errorMessages">
  <ul>
    <div th:if="${validationError}" th:each="error : ${validationError}">
    <li><div th:text="${error}" /></li>
    </div>
  </ul>
</div>

<div class="header-contents">
  <h1>タスク追加</h1>
</div>
<div class="main-contents">
  <form method="post" action="/add" th:object="${formModel}">
    <div class="form-area">
      <div>
        <label>タスク内容</label><br />
        <textarea class="tweet-box" th:field="*{content}" size="20" maxlength="200" /></textarea><br/>
      </div>
      <br/>
      <div>
        <label>タスク期限</label><br/>
        <input type="date" th:field="*{limitDate}">
      </div>
      <br />
      <div>
        <input type="submit" value="追加">
      </div>
      <br />
    </div>
    <div>
      <a href="./top">戻る</a>
    </div>
  </form>
</div>
</body>
</html>