<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="styleSheet">
  <script th:src="@{/js/script.js}"></script>
  <title>TODOリスト</title>
</head>
<body>
<div class="header-contents">
  <h1>TODO</h1>
  <!-- エラーメッセージの表示 -->
  <div class="errorMessages">
    <ul>
    <div th:if="${validationError}" th:each="error : ${validationError}">
      <li><div th:text="${error}"></div></li>
    </div>
    </ul>
  </div>

<div class="main-contents">

  <!-- 本日の日付 -->
  <div>
    <label>本日の日付：<span th:text="${today}"></span></label>
  </div>
  <br/>

  <!-- タスク追加ボタン -->
  <div>
    <a href="/new">
      <button class="new-button" type="button">新規タスク</button>
    </a>
  </div>
  <br/>

  <!-- 絞り込み機能実装 -->
  <div>
    <form mothod="get" th:action="@{/{start}-{end}-{status}-{content}(start=${start}, end=${end}, status=${status}, content=${content})}" th:object="${filterConditionsForm}">
      <a class="limitDate">
      期限<input type="date" name="start" th:field="*{start}"> - <input type="date" name="end" th:field="*{end}">
      </a>
      <a class="status">
      ステータス
      <select th:name="status">
        <option th:value="0"></option>
        <option th:each="item : ${taskForm.statusMap}" th:value="${item.key}" th:text="${item.value}"></option>
      </select>
      </a>
      <a class="content">
      タスク内容<input type="text" name="content" th:field="*{content}">
      <input type="submit" value="絞込">
      </a>
    </form>
  </div>
  <br />

  <!-- タスク表示 -->
  <table class="tasks-table">
    <thead>
      <tr>
        <th>タスク内容</th>
        <th>ステータス</th>
        <th>タスク期限</th>
        <th>　　</th>
        <th>　　</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="task: ${tasks}">
        <td class="content"><pre th:text="${task.content}" style="white-space: pre-wrap;"></pre></td>
        <td>
          <form method="get" th:action="@{/change/{id}-{status}(id=${task.id}, status=${status})}" th:object="${taskForm}"  onSubmit="return ChangeStatus()">
            <select th:name="status">
              <option th:each="item : ${taskForm.statusMap}" th:value="${item.key}" th:selected="${item.key == task.status}" th:text="${item.value}"></option>
            </select>
            <input type="hidden" th:name="id" th:value="${task.id}">
            <input class="changeButton" type="submit" value="変更">
          </form>
        </td>
        <td class="limit-date" th:text="${task.limitDate}"></td>
        <td>
          <a th:href="@{/edit/{strId}(strId=${task.id})}" th:object="${taskForm}">
            <input type="submit" value="編集">
            <input type="hidden" th:name="strId" th:value="${task.id}">
          </a>
        </td>
        <td>
          <form th:method="delete" th:action="@{/delete/{id}(id=${task.id})}" onSubmit="return CheckDelete()">
            <input type="submit" value="削除">
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>