<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="styleSheet">
  <title>TODOリスト</title>
</head>
<body>
<div class="header-contents">
  <h1>TODO</h1>
</div>
<div class="main-contents">

  <!-- 本日の日付 -->
  <div>
    <label>本日の日付：<span th:text="${today}"></span></label>
  </div>
  <br/>

  <!-- タスク追加ボタン -->
  <div>
    <a href="/new">
      <button class="new-button" type="button">新規タスク</button>
    </a>
  </div>
  <br/>

  <!-- 絞り込み機能実装 -->
  <div>
    <form mothod="get" th:action="@{/{start}-{end}-{status}-{content}(start=${start}, end=${end}, status=${status}, content=${content})}" th:object="${filterConditionsForm}">
      期限<input type="date" name="start" th:field="*{start}"> - <input type="date" name="end" th:field="*{end}">
      ステータス
      <select name="status" th:field="*{status}">
        <option value="未着手">未着手</option>
        <option value="実行中">実行中</option>
        <option value="ステイ中">ステイ中</option>
        <option value="完了">完了</option>
      </select>
      タスク内容<input type="text" name="content" th:field="*{content}">
      <input type="submit" value="絞込">
    </form>
  </div>
  <br />

  <!-- タスク表示 -->
  <table class="tasks-table">
    <thead>
      <tr>
        <th>タスク内容</th>
        <th>ステータス</th>
        <th>　　</th>
        <th>タスク期限</th>
        <th>　　</th>
        <th>　　</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="task: ${tasks}">
        <td th:text="${task.content}"></td>
        <td th:text="${task.statusLabel}"></td>
        <td><input type="submit" value="変更"></td>
        <td th:text="${task.limitDate}"></td>
        <td>
          <a th:href="@{/edit/{id}(id=${task.id})}">
            <input type="submit" value="編集">
          </a>
        </td>
        <td>
          <form th:method="delete" th:action="@{/delete/{id}(id=${task.id})}">
            <input type="submit" value="削除">
          </form>
        </td>
      </tr>
    </tbody>
    <!-- content
      <td>
        <a th:href="@{/edit/{id}(id=${content.id})}">
          <input type="submit" value="編集">
        </a>
      </td>
      <td>
        <form th:method="delete" th:action="@{/delete/{id}(id=${content.id})}">
          <input type="submit" value="削除" />
        </form>
      </td>
    </tr>
    -->
  </table>
</div>
</body>
</html>